.taskAdd {
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: white;
    /* background-color: #72113012; */
    /* border: 1px solid bisque; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0.5rem 1.5rem;
    cursor: pointer;
}
.addnewmodal {
    background-color: white;
    border-radius: 0.25rem;
    width: 28rem;
    /* height: 20rem; */
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
}

.closeModal {
    color: #37282d;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskTitleGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.taskTitleGroup label {
    font-size: 0.9rem;
    width: max-content;
    position: relative;
}
.taskTitleGroup input {
    height: 1.6rem;
    width: 100%;
}
.imageGroupTitle {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.taskImg {
    width: 10rem;
    border-radius: 0.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0.5rem 1.5rem;
    border: 0.25rem solid rgb(221, 217, 217);
    position: relative;
    top: 0;
}
.imageEdit {
    position: absolute;
}
