.body {
    /* background-color: #721130; */
    /* background: linear-gradient(#721130); */
    min-height: 30rem;
    margin-top: 3rem;
    /* position: relative; */
}
.section {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.sectionTitle {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    /* background-color: #721130; */
    /* padding: 1.5rem 2rem; */
}
.homeBody {
    background: linear-gradient(180deg, #721130, #5f1a30 95%, #721130),
        linear-gradient(90deg, #721130, #5f1a30 90%, #721130);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
    width: 70%;
    min-width: fit-content;
}
.homeBody img {
    width: 18rem;
}
.hero {
    max-width: 19rem;
    font-size: 1.1rem;
    color: white;
    padding-top: 1rem;
}

.hero form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
    padding: 1.5rem;
}
.hero form label {
    text-align: left;
    font-size: 0.95rem;
    margin-top: 0.5rem;
}
.hero form input {
    height: 1.8rem;
    width: 15rem;
    font-size: 1.1rem;
    outline: none;
    padding-left: 1rem;
    border: 1px solid #721130;
    border-radius: 0.2rem;
}
.loginButtons {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.hero form .button {
    background-color: white;
    padding: 0.7rem 2rem;
    text-decoration: none;
    margin-bottom: 0.25rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
    color: #721130;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #721130;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
}
.hero .button:hover {
    background-color: bisque;
}

@media screen and (min-width: 711px) {
    .homeBody {
        background-color: #5f1a30;
    }
}
@media screen and (max-width: 607px) {
    .body {
        height: 48rem;
    }
}
