.footer {
    background-color: #211e1e;
    padding: 2rem 0;
    height: max-content;
}
.logo img {
    width: 7rem;
    padding-left: 5rem;
}
.wrapper {
    padding-top: 1rem;
    /* padding: 1rem 1rem 0 1rem; */
    font-size: 1.1rem;
    color: #e3dede;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}
.ul {
    display: flex;
    min-width: 220px;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    gap: 1rem;
}

.category {
    padding-bottom: 1rem;
    font-weight: bold;
    color: #91777f;
    font-size: 1.2rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: flex-start;
}
.copyright {
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    color: white;
}
