section {
    padding-bottom: 5rem;
    height: max-content;
}
.body {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}
.h1 {
    text-align: center;
}
.project {
    /* background-color: #cac6c8; */
    background-color: white;
    padding: 0 2rem 1rem 0;
    border-radius: 0.5rem;
    width: 17rem;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.32);
    color: #211919;
    height: 19rem;
}

.project ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.critical {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
    text-align: justify;
    text-justify: inter-word;
    padding: 0.5rem;
    background-color: rgb(128, 128, 128, 0.1);
    border-radius: 0.3rem;
}
.statusGrid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.1);
    padding: 0.25rem 0.1rem;
    border-radius: 0.3rem;
}
.date {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25rem;
}
.dateB {
    font-size: 0.8rem;
    font-weight: bold;
    color: #37282d;
}
.viewProject {
    padding: 0.5rem 1rem;
    background-color: rgb(0, 51, 74, 0.9);
    color: white;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    width: 100%;
}
.viewProject:hover {
    background-color: rgb(0, 51, 74, 0.85);
    transition: all 0.5 ease;
}
.viewProject:hover::after {
    content: ' \00bb';
}
.newProject {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
}
